.pattern-1-wrapper {
  height: 39rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 150px;
  padding-right: 0px;
  margin-bottom: 0px;
}

.pattern-1-image {
  max-width: 116%;
  margin-left: 60px;
  margin-bottom: 0px;
}

.pattern1-content-order {
  order: 1;
}

.pattern1-image-order {
  order: 2;
}

p.pattern-1-title {
  font-size: 36px;
  letter-spacing: 6px;
  font-weight: 200;
}

p.pattern-1-content {
  font-size: 16;
  line-height: 28px;
  font-weight: 100;
}

.mt-40 {
  margin-top: 40px;
}

@media (max-width: 991px) {
  .pattern-1-wrapper {
    height: 39rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 0px;
    margin-bottom: 300px;
    padding-right: 0px;
  }

  .pattern-1-image {
    min-width: 100%;
    margin-left: 0px;
    margin-bottom: 32px;
  }

  .pattern1-content-order {
    order: 2;
  }

  .pattern1-image-order {
    order: 1;
  }
}
