.wedding-wrapper {
  width: 705px;
  height: 280px;
  padding-left: 95px;
  padding-right: 153px;
  background-color: #ffffff;
  margin-top: -50px;
  margin-right: -15px;
}

@media (max-width: 992px) {
  .wedding-wrapper {
    width: 100%;
    height: 80px;
    padding-left: 30px;
    padding-right: 153px;
    background-color: #ffffff;
    margin-top: 80px;
    margin-right: 0px;
  }
}
