@import "./lib/text";
@import "./lib/animation";

@import "./components/button";
@import "./components/nav";

@import "./sections/header";
@import "./sections/about";
@import "./sections/events";
@import "./sections/stay";
@import "./sections//activities";
@import "./sections/barcoffee";
@import "./sections/footer";
@import "./sections/private-events";
@import "./sections/wedding";

html,
body {
  margin: 0;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
